#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
output/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini



# Mac crap
.DS_Store

# java
*.class
classes/
*.jar
#WEB-INF/classes/
lib/

#gae
appengine-generated/

#android
gen/

conf.yml
wb_*.txt
*.apk

example/
gwt-unitCache/
deploy/
war/sample/
editor\war
phonegap/