<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>com.freelancer.web.Init</servlet-class>
		<init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
    	</init-param>
    	<init-param>
	        <param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
	        <param-value>/template</param-value>
    	</init-param>	
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.yy.app,com.yy.provider</param-value>
		</init-param>
		<init-param>
         	<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
         	<param-value>com.yy.filter.AuthFilter</param-value>
     	</init-param>		
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>lalalic@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>adminPassword</param-name>
			<param-value>aa619916</param-value>
		</init-param>
		<init-param>
			<param-name>Corporation</param-name>
			<param-value>yy</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ServeBlob</servlet-name>
		<servlet-class>com.yy.web.ServeBlob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServeBlob</servlet-name>
		<url-pattern>/res</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
