@font-face{font-family:'icon';src:url("icon.ttf") format('truetype');font-weight:normal;font-style:normal}
.icon:before{font-family:'icon';font-weight:normal !important}
.icon.plus:before{content:"\e601"}
.icon.back:before{content:"\e603"}
.icon.search:before{content:"\e605"}
.icon.home:before{content:"\e600"}
.icon.refresh:before{content:"\e61f"}
.icon.user:before{content:"\e60f"}
.icon.signout:before{content:"\e602"}
.icon.signin:before{content:"\e60f"}
.icon.suggest:before{content:"\e604"}
.icon.star:before{content:"\e606"}
.icon.baby:before,.icon.tasks:before{content:"\e607"}
.icon.time:before{content:"\e610"}
.icon.comment:before{content:"\e615"}
.icon.calendar:before{content:"\e617"}
.icon.tags:before{content:"\e61a"}
.icon.bold:before{content:"\e619"}
.icon.story:before{content:"\e616"}
.icon.picture:before{content:"\e611"}
.icon.link-picture:before{content:"\e613"}
.icon.save:before{content:"\e614"}
.icon.happy:before{content:"\e607"}
.icon.sad:before{content:"\e608"}
.icon.remove:before{content:"\e60a"}
.icon.share:before{content:"\e609"}
.icon.passed:before,.icon.correct:before{content:"\e60b"}
.icon.failed:before,.icon.wrong:before{content:"\e60c"}
.icon.filter:before{content:"\e60d"}
.icon.edit:before{content:"\e60e"}
.icon.camera:before{content:"\e612"}
.icon.test:before{content:"\e61c"}
.icon.sync:before{content:"\e61d"}
.icon.posts:before, .icon.categories:before{content:"\e61e"}


